<a href="https://colab.research.google.com/github/itsmarcello/Meus_Cursos/blob/master/CursoCientistadeDados/Spark/Curso_Cientista_de_Dadoss_SQL_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import Row
from pyspark import SparkConf

In [24]:
spSession = SparkSession.builder.master("local").appName("DSA-SparkSQL").config("spark.some.config.option", "some-value").getOrCreate()

In [10]:
from pyspark import SparkContext
from pyspark import SparkConf
conf = SparkConf().setAppName("read text file in pyspark")
sc = SparkContext(conf=conf)

In [ ]:
# Spark Session - usada quando se trabalha com Dataframes no Spark
from pyspark.sql import SparkSession
sc = SparkContext(conf=conf)
# Criando o SQL Context para trabalhar com Spark SQL
sqlContext = SQLContext(sc)

In [ ]:
linhasRDD1 = sc.textFile("carros.csv")
linhasRDD2 = linhasRDD1.filter(lambda x: "FUELTYPE" not in x) # -> Retira primeira linha
linhasRDD3 = linhasRDD2.map(lambda line : line.split(","))
linhasRDD4 = linhasRDD3.map(lambda p : Row(make = p[0], body = p[4], hp = int(p[7])))
linhasRDD4.collect()

## From RDD to DataFrame

In [26]:
# Transforma Objeto Row em DF
linhasDF = spSession.createDataFrame(linhasRDD4)
linhasDF.show()

In [ ]:
#linhasDF.select(*).show()  # Ainda é um Objeto do Spark!
linhasDF.orderBy("make").show()  # Ainda é um Objeto do Spark!

Para Usar o SQL assim como usar no SQL Server ou Oracle, preciamos de uma "Tabela Temporária"

In [34]:
linhasDF.createOrReplaceTempView("linhasTB")

In [ ]:
# Executando queries SQL ANSI
spSession.sql("select * from linhasTB where make = 'nissan'").show()

In [ ]:
# Executando queries SQL ANSI
spSession.sql("Select make, body, avg(hp)  from linhasTB group by make, body ").show()

### SQL Spark e Arquivos CSV